<html lang=en>
<head>
    <title>Find Distance</title>
    <style>
        .center{
            text-align: center;
        }
        body {
            background-color: lightpink;
        }
    </style>
</head>
<body>
    <h1 class = "center" style="font-size: 40px;" style="color: darkred; ">Find Distance</h1>
    <p class = "center" style="font-size: 24px;" style="color: brown;">Speed: {{speed}}</p>
    <p style="font-size: 24px;" class = "center" style="color: blue;">Time: {{time}}</p>
    <p style="font-size: 24px;" class = "center" style="color: black;">Distance: {{distance}}</p>
</body>
</html>
